<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views.Forms" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="5.0.0.2196" targetFramework="xamarinmac20" />
</packages>